@import "../styles/variables.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica";
  box-sizing: border-box;
}

body {
  // background: #0e2b3b;
  background-color: #04152d;

  a,
  svg {
    transition: 0.2s;
  }
}
