$font-stack: "Helvetica";
$text-color: #fff;
$text-color-secondary: #a6a6a6;
$body-bg-color: #271b31;
$bg-color: #111;
$bg-color-secondary: #1d1d1d;
$container-border-radius: 10px;
$card-border-radius: 5px;
$gradient: liner-gradient(40deg, #5ba7d1, #0e2b3b);
// background: linear-gradient(to bottom, #5ba7d1 0%, #0e2b3b 100%);

$color-curriculo-escura: #2d5473;
$color-curriculo-clara: #0e2b3b;
$color-curriculo-cinza: #4b525d;
$color-branca: #fafafa;
$color-curriculo-cinza-clara: #eff0f2;
$color-portifolio-escura: #04152d;
$color-portifolio-dark: #0b2447;
